@model dynamic

@{
    ViewData["Title"] = "初選";

    List<String> academic = new List<String>();
    academic.Add("");
    academic.Add("日間部二專");
    academic.Add("日間部五專");
    academic.Add("日間部二技");
    academic.Add("日間部四技");
    academic.Add("日間部碩士春季班");
    academic.Add("日間部碩士秋季班");
    academic.Add("日間部碩士");
    academic.Add("日間部博士");
    academic.Add("日四技產學攜手專班");
    academic.Add("進修部二專");
    academic.Add("進修部二技");
    academic.Add("進修部四技");
    academic.Add("進修部碩士春季班");
    academic.Add("進修部碩士秋季班");
    academic.Add("碩士在職專班");
    academic.Add("境外碩士在職春季專班");
    academic.Add("境外碩士在職秋季專班");
    academic.Add("進修學院二專");
    academic.Add("進修學院二技");
    academic.Add("學士後學程");
    academic.Add("二技在職專班");
    academic.Add("進四技產學攜手專班");
    academic.Add("進修部碩士");

    List<String> schoolsys = new List<String>();
    schoolsys.Add("");
    schoolsys.Add("國際企業系");
    schoolsys.Add("金融資訊系");
    schoolsys.Add("化學工程與材料工程系");
    schoolsys.Add("機械工程系");
    schoolsys.Add("模具工程系");
    schoolsys.Add("工業工程與管理系");
    schoolsys.Add("電機工程系");
    schoolsys.Add("電子工程系");
    schoolsys.Add("企業管理系");
    schoolsys.Add("觀光管理系");
    schoolsys.Add("會計資訊系");
    schoolsys.Add("財政稅務系");
    schoolsys.Add("基礎教育中心");
    schoolsys.Add("博雅教育中心");
    schoolsys.Add("外語教育中心");
    schoolsys.Add("跨外校修課生");
    schoolsys.Add("體育課程");

    List<String> grade = new List<String>();
    grade.Add("");
    grade.Add("一年級");
    grade.Add("二年級");
    grade.Add("三年級");
    grade.Add("四年級");
}

<form method="GET">
    <div class="form-row">
        <div class="col">
            <label>學制</label>
            <select type="text" name="academic" class="form-control">
                @for (var i = 0; i < academic.Count; i++)
                {
                    if(academic[i] == Model.Academic){
                        <option selected>@academic[i]</option>
                    }
                    else{
                        <option>@academic[i]</option>
                    }

                }
            </select>
        </div>
        <div class="col">
            <label>科系</label>
            <select type="text" name="schoolsys" class="form-control">
                @for (var i = 0; i < schoolsys.Count; i++)
                {
                    if(schoolsys[i] == Model.Schoolsys){
                        <option selected>@schoolsys[i]</option>
                    }
                    else{
                        <option>@schoolsys[i]</option>
                    }

                }
            </select>
        </div>
        <div class="col">
            <label>年級</label>
            <select type="text" name="grade" class="form-control">
                @for (var i = 0; i < grade.Count; i++)
                {
                    if(grade[i] == Model.Grade){
                        <option selected>@grade[i]</option>
                    }
                    else{
                        <option>@grade[i]</option>
                    }

                }
            </select>
        </div>
        <div class="col col-sm-1">
            @* 避免排版問題 *@
            <label>　</label>
            <button class="btn btn-primary form-control">查詢</button>
        </div>
    </div>
</form>

<hr>

@foreach (Course course in Model.Course)
{
    <div class="row">
        <div class="col-sm-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@course.CourseName</h5>
                    <h6 class="card-subtitle mb-2">授課教師：@course.Teacher</h6>
                    <p class="card-text">必選修：@course.Reqele　上課時間：@course.Date<br>
                        學分：@course.Credit　教室：@course.Classroom</p>
                    <button class="btn btn-primary">加選</button>
                    <button class="btn btn-primary">課程詳細</button>
                </div>
            </div>
        </div>
    </div>
}
